.action{
    display: flex;
    justify-content: center;
}
.problem{
    width: 100%;
    height: 30px;
    border: solid 2px red;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    color: red;
}
.done{
    width: 100%;
    height: 30px;
    border: solid 2px green;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    color: green;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}
  /* Hide default HTML checkbox */
.switch input {display:none;}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 3px solid #ccc;
}
input:checked + .slider:before{
    border: 3px solid #2196F3;
}
input:checked + .slider {
    background-color: #2196F3;
    
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.modal .status_text {
    position: relative;
    bottom: 20px;
    left: 10px;
}
.table a.table-link:hover {
    text-decoration: none;
}

.table a.table-link.danger {
color: #fe635f;
}

.table a.table-link.danger:hover {
color: #dd504c;
}

.table tbody tr td .status {
    width: 20px;
    height: 20px;
    background: #575757;
    border-radius: 50%;
    margin: 0 auto;
}

.table tbody tr td .status.active {
    background: green;
}
